﻿@using Microsoft.AspNetCore.Identity
@using SnapVoteBookGram.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav snapvotebookgram-navbar-list">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Administrator"))
        {
            <li><a asp-area="" asp-controller="Elections" asp-action="Index">Elections</a></li>
            <li><a asp-area="" asp-controller="Ballots" asp-action="Index">Ballots</a></li>
            <li><a asp-area="" asp-controller="BallotOptions" asp-action="Index">Ballot Options</a></li>
        }
        else
        {
            <li><a asp-area="" asp-controller="Votes" asp-action="Elections">Cast Your Vote</a></li>
        }
    }
    <li><a asp-area="" asp-controller="Votes" asp-action="Index">Results</a></li>
</ul>