﻿@model SnapVoteBookGram.Models.Ballot

@{
    ViewData["Title"] = "Create";
}

<h2>Create a New Ballot</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong class="control-label snapvotebookgram-pseudo-label">Ballot Type</strong>
                @foreach (var item in ViewBag.BallotTypes)
                {
                    <input asp-for="BallotType" type="radio" value="@item.Title" name="BallotType" id="@item.Title" />
                    <label for="@item.Title" class="control-label snapvotebookgram-input-label">@item.Title</label><br />
                }
                <span asp-validation-for="BallotType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong class="control-label snapvotebookgram-pseudo-label">Ballot Options</strong>
                <table class="snapvotebookgram-table">
                    <tr>
                        @{
                            int count = 0;
                            List<SnapVoteBookGram.Models.BallotViewModels.AssignedBallotOptionData> ballotOptions = ViewBag.BallotOptions;

                            foreach (var ballotOption in ballotOptions)
                            {
                                if (count++ % 5 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                        name="selectedBallotOptions"
                                        value="@ballotOption.BallotOptionId"
                                        @(Html.Raw(ballotOption.Assigned ? "checked=\"checked\"" : ""))
                                        id="@ballotOption.BallotOptionId"/>
                                    <label for="@ballotOption.BallotOptionId" class="control-label snapvotebookgram-input-label">@ballotOption.Description</label>
                                @:</td>
                            }
                            @:</tr>
                        }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
