﻿@model SnapVoteBookGram.Models.BallotViewModels.BallotsIndexData
@{
    ViewData["Title"] = "Ballots";
}
<h2>Ballots</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table snapvotebookgram-ballots-table">
    <thead>
        <tr>
            <th class="snapvotebookgram-ballots-table-header-title">
                Title
            </th>
            <th class="snapvotebookgram-ballots-table-header-subtitle">
                Subtitle
            </th>
            <th class="snapvotebookgram-ballots-table-header-description">
                Description
            </th>
            <th class="snapvotebookgram-ballots-table-header-ballot-type">
                Ballot Type
            </th>
            <th class="snapvotebookgram-ballots-table-header-ballot-options">
                Ballot Options
            </th>
            <th class="snapvotebookgram-ballots-table-header-controls"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ballots)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BallotType)
                </td>
                <td>
                    @{
                        foreach (var ballotOption in item.BallotOptionAssignments)
                        {
                            @ballotOption.BallotOption.Description <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>