﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/elephant-2798628_1920.jpg" alt="Political Party Symbols" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/eagle-1246681_1920.jpg" alt="Eagle" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/flag-1209484_1920.jpg" alt="United States Flag" class="img-responsive" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>We were all annoyed that we still had to go to polling centers in 2017, so we built this app for everybody that allows us to vote online!</p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Start by registering an account - we promise it's easy!</p>
        <p>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-default" role="button">Register &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Next</h2>
        <p>
            Participate in our democracy and vote in an active election!
        </p>
        <p>
            <a asp-area="" asp-controller="Votes" asp-action="Elections" class="btn btn-default" role="button">Cast Your Vote &raquo;</a>
        </p>
    </div>
</div>
