﻿@model SnapVoteBookGram.Models.Election
@{
    ViewData["Title"] = "Edit";
}
<h2>Editing @Model.Title</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Begin" class="control-label"></label>
                <input asp-for="Begin" class="form-control" />
                <span asp-validation-for="Begin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong class="control-label snapvotebookgram-pseudo-label">Ballots</strong>
                <table class="snapvotebookgram-table">
                    <tr>
                        @{
                            int count = 0;
                            List<SnapVoteBookGram.Models.ElectionViewModels.AssignedBallotData> ballots = ViewBag.Ballots;

                            foreach (var ballot in ballots)
                            {
                                if (count++ % 5 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                        name="selectedBallots"
                                        value="@ballot.BallotId"
                                        @(Html.Raw(ballot.Assigned ? "checked=\"checked\"" : ""))
                                        id="@ballot.BallotId"/>
                                    <label for="@ballot.BallotId" class="control-label snapvotebookgram-input-label">@ballot.Title</label>
                                @:</td>
                            }
                            @:</tr>
                        }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
