﻿@model SnapVoteBookGram.Models.ElectionViewModels.ElectionsIndexData

@{
    ViewData["Title"] = "Elections";
}

<h2>Elections</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table snapvotebookgram-elections-table">
    <thead>
        <tr>
            <th class="snapvotebookgram-elections-table-header-title">
                Title
            </th>
            <th class="snapvotebookgram-elections-table-header-begin">
                Begin
            </th>
            <th class="snapvotebookgram-elections-table-header-end">
                End
            </th>
            <th class="snapvotebookgram-elections-table-header-ballots">
                Ballots
            </th>
            <th class="snapvotebookgram-elections-table-header-controls"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Elections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Begin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @{
                        foreach (var ballot in item.ElectionBallotAssignments)
                        {
                            @ballot.Ballot.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
