﻿@model SnapVoteBookGram.Models.VoteViewModels.ElectionBallotOptionsData

@{
    ViewData["Title"] = Model.Ballot.Title;
}

<h2>@Html.DisplayFor(model => model.Ballot.Title)</h2>
<h3>@Html.DisplayFor(model => model.Ballot.Subtitle)</h3>
<p>@Html.DisplayFor(model => model.Ballot.Description)</p>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Vote">
            <input type="hidden" asp-for="Election.Id" name="electionId" />
            <input type="hidden" asp-for="Ballot.Id" name="ballotId" />

            @if (Model.Ballot.BallotType == BallotType.Dual)
            {
                <div class="form-group">
                    @foreach (var item in Model.BallotOptions)
                    {
                        <input type="checkbox" value="@item.Id" name="selectedBallotOptions" id="@item.Id" />
                        <label for="@item.Id" class="control-label snapvotebookgram-input-label">@item.Description</label><br />
                    }
                </div>
            }
            else if (Model.Ballot.BallotType == BallotType.Ranked)
            {
                <div class="form-group">
                    @foreach (var item in Model.BallotOptions)
                    {
                        <input type="hidden" value="@item.Id" name="selectedBallotOptions" />
                        <input type="number" name="selectedBallotOptionValues" id="@item.Id" min="1" max="@Model.BallotOptions.Count()" />
                        <label for="@item.Id" class="control-label snapvotebookgram-input-label">@item.Description</label><br />
                    }
                </div>
            }
            else if (Model.Ballot.BallotType == BallotType.Unexpired)
            {
                <div class="form-group">
                    @foreach (var item in Model.BallotOptions)
                    {
                        <input type="radio" value="@item.Id" name="selectedBallotOptions" id="@item.Id" />
                        <label for="@item.Id" class="control-label snapvotebookgram-input-label">@item.Description</label><br />
                    }
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Vote" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}