﻿@model SnapVoteBookGram.Models.ElectionViewModels.ElectionsIndexData

@{
    ViewData["Title"] = "Elections";
}

<h2>Cast Your Vote</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Begin
            </th>
            <th>
                End
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Elections) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @if (item.Begin < DateTime.Now)
                {
                    <a asp-action="ElectionBallots" asp-route-id="@item.Id">View Ballots</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
