﻿@model SnapVoteBookGram.Models.VoteViewModels.ElectionBallotsIndexData
@{
    ViewData["Title"] = Model.Election.Title;
}
<h2>@Model.Election.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ballots) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Cast Your Vote", "ElectionBallotOptions", new { electionId = Model.Election.Id, ballotId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>