﻿@model SnapVoteBookGram.Models.VoteViewModels.ResultsData

@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>
<p>View the results of completed elections.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Election
            </th>
            <th>
                End
            </th>
            <th class="snapvotebookgram-election-results-table-header-small"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Elections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.ActionLink("View Ballots", "Index", new { electionId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Ballots != null)
{
    <h2>@Model.selectedElection.Title Ballots</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ballot
                </th>
                <th class="snapvotebookgram-election-results-table-header-small"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ballots)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("View Results", "Index", new { electionId = Model.selectedElection.Id, ballotId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Votes != null)
{
    <h2>@Model.selectedElection.Title @Model.selectedBallot.Title Votes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ballot Option
                </th>
                <th class="snapvotebookgram-election-results-table-header-small">
                    Number of Votes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Votes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.RankedVotes != null)
{
    <h2>@Model.selectedElection.Title @Model.selectedBallot.Title Votes</h2>
    @foreach (var item in Model.RankedVotes)
    {
        <h3>Rank: @item.Rank</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ballot Option
                    </th>
                    <th class="snapvotebookgram-election-results-table-header-small">
                        Number of Votes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in item.Votes)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => v.Description)</td>
                        <td>@Html.DisplayFor(modelItem => v.Count)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}