﻿@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/*wordart styles from https://designpieces.com/2017/03/wordart-css3-text-effects/ */

.wordart {
    font-family: Arial, sans-serif;
    /*font-size: 4em;*/
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .wordart.rainbow {
        transform: scale(1, 1.5);
        -webkit-transform: scale(1, 1.5);
        -moz-transform: scale(1, 1.5);
        -o-transform: scale(1, 1.5);
        -ms-transform: scale(1, 1.5);
    }

        .wordart.rainbow .text {
            background: red;
            background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
            background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
            background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
            background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* global */

label {
    cursor: pointer;
}

.snapvotebookgram-table > tbody > tr > td {
    vertical-align: top;
    padding: 5px;
}

.snapvotebookgram-pseudo-label {
    margin-bottom: 5px;
    display: block;
}

.snapvotebookgram-input-label {
    font-weight: normal;
}

.snapvotebookgram-election-results-table-header-small {
    width: 15%;
}

/* navigation */
.snapvotebookgram-header-logo {
    display: block;
}

    .snapvotebookgram-header-logo > img {
        max-width: 100%;
        padding: 3px 0;
    }

.snapvotebookgram-navbar-brand {
    max-width: 100%;
}

.snapvotebookgram-navbar-toggle {
    color: #000;
    border: 1px solid #000;
}

    .snapvotebookgram-navbar-toggle > .icon-bar {
        background-color: #000;
    }

.snapvotebookgram-navbar-list > li > a {
    outline: none !important;
}

.snapvotebookgram-navbar-list > li > button {
    padding: 15px;
    margin: 0;
    line-height: 20px;
    border: none;
}

    .snapvotebookgram-navbar-list > li > button:focus {
        outline: none !important;
        text-decoration: none;
    }

    .snapvotebookgram-navbar-list > li > button:hover {
        text-decoration: none;
    }

.snapvotebookgram-navbar-account-override {
    margin-right: 0;
}

    /*padding fix on logout button*/
    .snapvotebookgram-navbar-account-override > li:last-child > a {
        padding-right: 0;
    }


/*shrink nav item text at this viewport to that it fits on one line*/
@media only screen and (min-width: 768px) {
    .snapvotebookgram-navbar-list {
        font-size: 11px;
    }

        .snapvotebookgram-navbar-list > li > button {
            font-size: 11px;
        }
}

@media only screen and (min-width: 992px) {
    .snapvotebookgram-navbar-list {
        font-size: 14px;
    }
        .snapvotebookgram-navbar-list > li > button {
            font-size: 14px;
        }
}


/* ballots index */
.snapvotebookgram-ballots-table-header-title {
    width: 10%;
}

.snapvotebookgram-ballots-table-header-subtitle {
    width: 10%;
}

.snapvotebookgram-ballots-table-header-description {
    width: 25%;
}

.snapvotebookgram-ballots-table-header-ballot-type {
    width: 10%;
}

.snapvotebookgram-ballots-table-header-ballot-options {
    width: 40%;
}

.snapvotebookgram-ballots-table-header-controls {
    width: 5%;
}

/*elections index*/

.snapvotebookgram-elections-table-header-title {
    width: 15%;
}

.snapvotebookgram-elections-table-header-begin {
    width: 10%;
}

.snapvotebookgram-elections-table-header-end {
    width: 10%;
}

.snapvotebookgram-elections-table-header-ballots {
    width: 60%;
}

.snapvotebookgram-elections-table-header-controls {
    width: 5%;
}

/*home*/

.snapvotebookgram-home-logo {
    width: 100%;
    max-width: 480px;
}

.snapvotebookgram-home-logo-container {
    text-align: center;
    padding: 30px 0;
}
